<h2 id="title">Welcome to Ember</h2>
{{#bootstrap-select multiple=multiple value=value as |select|}}
    {{#each options as |option|}}
        {{#select.option 
            disabled=option.disabled 
            value=option.value}} {{option.label}} {{/select.option}}
    {{/each}}
{{/bootstrap-select}}
value: {{value}}
